:root, :root.dark {
    --primary: #0274be;
    --secondary: #0f47ad;
    --graphicdesignpassion: #23d620;
}

html.ios, html.md {
    --ion-background-color: hotpink;
    --core-header-toolbar-background: var(--primary);
    --ion-item-background: var(--graphicdesignpassion);
    --ion-item-border-color: yellow;
    --ion-toolbar-color: red;
    --ion-toolbar-background: orange;
}