:root, :root.dark {
    --primary: #0274be;
    --secondary: #0f47ad;
    --graphicdesignpassion: #23d620;
}

html.ios {
    --core-header-toolbar-background: var(--primary);
    /* --ion-background-color: var(--graphicdesignpassion); */
}

html.md {
    --ion-text-color: rgb(208, 38, 66);
    --core-header-toolbar-background: var(--graphicdesignpassion);
}

ion-card {
    background: rgb(150 155 235 / 70%);
}