:root, :root.dark {
    --primary: #0274be;
    --secondary: #0f47ad;
    --graphicdesignpassion: #23d620;
}

html.ios, html.md {
    /* Header Color when Logging In*/
    --core-header-toolbar-background: var(--primary);
 
    /* Main background color, anything without an explicit color will take this color */
    --ion-background-color: hotpink;
    
    /* Background color for select components */
    --ion-item-background: var(--graphicdesignpassion);

    /* Outline color for select components */
    --ion-item-border-color: yellow;

    /* Color for fade-in when loading/transitioning between pages that need to load */
    --ion-backdrop-color: black;

    /* When screen is cut-off by weird design choices, is color the area not part of the application takes */
    --ion-toolbar-color: red;

    /*
    NOT the color of buttons at footer/navigation bar elements 
    
    --ion-tab-bar-color: orange;
    --ion-tab-bar-color-selected: darkorange;
    */
}
ion-tab-bar {
    color: var(--graphicdesignpassion);    
}

ion-tab-button {
    color: var(--primary);
    background: var(--secondary);
}